[submodule "elastic_scroll"]
	path = elastic_scroll
	url = git@gist.github.com:98eb3e0caf7304e15ac9c6d65c1e9f4c.git
[submodule "fedora_post_install"]
	path = fedora_post_install
	url = git@gist.github.com:c60c0c6ab28d4b258818c3a4a2b65e65.git
[submodule "fedora32_install_python3"]
	path = fedora32_install_python3
	url = git@gist.github.com:8f1477af1d6152671824ca737143ea75.git
[submodule "pytest_parametrize"]
	path = pytest_parametrize
	url = git@gist.github.com:31f07011f1eaca7e0e5714bf647c2886.git
[submodule "cppmakefile"]
	path = cppmakefile
	url = git@gist.github.com:7265c698d1b024bb7723bc624aeedeb3.git
[submodule "elastic_bulk"]
	path = elastic_bulk
	url = git@gist.github.com:4fbc400acc6f66ede846c933de1eeb80.git
[submodule "cron_checkist"]
	path = cron_checkist
	url = git@gist.github.com:5a413e7fcf30bced7a4c8bdf3a8296f7.git
[submodule "paho_mqtt"]
	path = paho_mqtt
	url = git@gist.github.com:4ddba85a59b3c802da91193a81cf23f7.git
[submodule "htpassw"]
	path = htpassw
	url = git@gist.github.com:d86a59e45ae86198a9efc6f3d8682b49.git
[submodule "pyyaml_envvar"]
	path = pyyaml_envvar
	url = git@gist.github.com:26e25bf98c8e647e095b48283309fe72.git
[submodule "gist_blur"]
	path = gist_blur
	url = git@gist.github.com:7ed91ab9986fd83817bea868fa4a012f.git
[submodule "send_mail"]
	path = send_mail
	url = git@gist.github.com:3c69cc2f3342f25339a82ec7b1369129.git
[submodule "fedora_install_python"]
	path = fedora_install_python
	url = git@gist.github.com:8f1477af1d6152671824ca737143ea75.git
